/* Botão do carrinho */
<div class="control small-icons" id="div-controlCart">
    <a class="gtm-link-event" data-gtm-event-category="pontoslivelo:geral" data-gtm-event-action="clique:link" data-gtm-event-label="header:carrinho" data-bind="ccLink: {route: targetCart()}" id="a-linkCart" href="/cart">
      <span class="icon-shopping-cart cart-size"></span>
      <span id="span-ball-cart" class="red-ball none-ball" data-bind="text: totalItensCart">0</span>
    </a>
</div>
element :seletorPorId, "#a-linkCart"


/* Botão de login */
<div class="control-dropdown" id="span-controlDropdown">
    <a class="button button__primary--blue button--large control__button control__button--pink gtm-link-event" data-gtm-event-category="pontoslivelo:geral" data-gtm-event-action="flutuante:clique:botao" data-gtm-event-label="entrar" data-bind="widgetLocaleText: 'loginButtonTextLabel', click: $parent.clickLogin" id="a-buttonLogin">Entrar</a>
    <br>
    <a class="button button__secondary button--large control__button gtm-link-event" data-gtm-event-category="pontoslivelo:geral" data-gtm-event-action="flutuante:clique:link" data-gtm-event-label="crie-sua-conta" data-bind="widgetLocaleText: 'createTextLabel', click: $parent.clickLogin" id="a-clickLogin">Criar conta</a>
</div>
element :seletorPorId, "#a-buttonLogin" 

/* Botão de cadastro */
element :seletorPorId, "#a-clickLogin"

